.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 110%;
  }
}

@media (max-width: 767.9px) {
  .place__title {
    font-size: 32px;
    line-height: 109%;
    margin: 0 16px;
  }
}