.cover__subtitle {
  max-width: 360px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  margin: 0;
  z-index: 2;
}

@media (max-width: 767.9px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 114%;
  }
}